.App {
  text-align: center;
}
.card-name {
  text-transform: capitalize;
  text-align: left;
  margin-bottom: 30px;
  font-size: 22px;
}
.card-text {
    margin-bottom: 0;
    text-align: left;
    color: #777;
    height: 55px;
    overflow: hidden;
}
.card-category {
  color: #999;
  text-transform: capitalize;
}
.card-img {
  height: 200px;
  overflow: hidden;
}
.card-img img {
  width: 100%;
  min-height: 200px;
}
.app-ttl {
  border-bottom: 1px solid #ddd;
  padding-bottom: 70px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
